#
# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html
#

# this is a global configuration file
# no options are overridden here

# Core configuration
spring.application.name: spring-web-jpa-concurrency
spring.profiles.active: default, dev , init-sql

# Database configuration
spring.datasource:
  url: jdbc:mysql://localhost:3306/jpa-concurrency
  username: chansol
  password: solsol
  driver-class-name: com.mysql.cj.jdbc.Driver

# Payment Server url
payment.server.url: http://localhost:8081 # http://13.125.145.9:8080/
# My Public ip
my.public.ip: http://localhost:8080